.edit-roster {
  font-size: 17px;
}

h1 {
  font-family: 'VT323', monospace;
  font-size: 75px;
  color: #32CD32
}

div {
  background-color:
}

.text-align-center {
  text-align: center;
}

.white {
  color: white;
}
