<div class="container text-align-center">
  <h1 *ngIf="animate === false">HackTeam<span class="white">.</span></h1>
  <h1 *ngIf="animate">HackTeam.</h1>
</div>
<hr>
<select (change)="onChange($event.target.value)">
  <option value="allHackers" selected="selected">All Hackers</option>
  <option value="Front-end">Front-end</option>
  <option value="Back-end">Back-end</option>
  <option value="Mobile">Mobile</option>
</select>
<br><br>
<div *ngFor="let currentMember of members | async | role:filterByRole" class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title" (click)=goToDetail(currentMember)>{{currentMember.name}} - {{currentMember.role}}</h3>
  </div>
  <div class="panel-body">
    {{currentMember.bio}}
  </div>
  <div *ngIf="currentRoute === '/roster-edit'">
    <app-edit-member [selectedMember]="currentMember"></app-edit-member>
  </div>
</div>
<div *ngIf="currentRoute === '/roster-edit'">
  <app-new-member></app-new-member>
</div>
