<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Add New Team Member</h4>
  </div>
  <div class="panel-body">
    <div>
      <label>Name</label>
      <input #newName>
    </div>
    <div>
      <label>Role</label>
      <input #newRole>
    </div>
    <div>
      <label>Bio</label>
      <textarea #newBio></textarea>
    </div>
  </div>
  <button class="btn btn-default" (click)="submitForm(newName.value, newRole.value, newBio.value); newName.value=''; newRole.value=''; newBio.value=''">Submit New Member</button>
</div>
